# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.python-version

# --- Virtual Environments ---
.venv/
venv/
env/
ENV/

# --- Environment Variables ---
.env
.flaskenv
*.env

dist/
build/
*.egg-info/
.installed.cfg
*.egg

# --- DB ---
*.sqlite3
*.db

# --- IDE specific files ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs ---
*.log

uploads/
templates/